/* Estilo da imagem */
.bg {
    width: 100vw;
    height: 40vh; 
    object-fit: cover; 
    object-position: center;
    display: block;
    margin: 0px;
    z-index: 1; 
    position: absolute;
    top: 0px;
    left: 0px;
  }
  
  /* Estilo do bloco com gradiente e imagem de fundo */
  .gradient {
    width: 100vw;
    height: 60vh; /* Certifique-se de que a altura corresponde à da .gradient */
    background-image: url('../assets/Convite de casamento virtual e interativo com folhagens.png');
    position: absolute;
    z-index: 2;
    bottom: 0; /* Certifique-se de que o conteúdo fique acima da imagem */
  }
  
  
  .cube {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh; /* Certifique-se de que a altura corresponde à da .gradient */
    text-align: center;
    z-index: 3; 
  }
  
  /* Centraliza o conteúdo */
  .content {
  
    width: 90%;
  
  }
  h1 {
    margin: 0px;
    font-size: 28px !important;
    color: #007faa;
  }
  
  .title {
    margin-top: 24px;
    font-family: "Libre Baskerville", serif;
  font-weight: 500;
  margin-bottom: 10px;
  }
  
  .content p {
    margin: 0px;
    font-size: 15px; /* Ajuste o tamanho da fonte conforme necessário */
    color: #007faa; 
    
  }
  
  .corac {
    width: 30px;
    margin-bottom: 10px;
  
  }
  
  
  
  .flex{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
  }
  
  .flor {
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .center {
    display: flex;
    justify-content: center;
  }
  
  .date {
    margin-top: 10px;
    
  }
  
  .date p {
    font-size: 35px;
    font-weight: 400;
  }
  
  
 
  
  
  
  
  .actions img {
    width: 80px;
    margin: 20px 10px;
    
  }

  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .col p {
    font-size: 13px;
  }

  .key {
    font-size: 30px;
    margin-top: 20px !important;
    padding-top: 10px;
    font-weight: 700;
    background-color: #007faa;
    padding: 5px;
    color: white;
    border-radius: 16px;
    text-align: center;
  }